*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 4.5rem;
    scrollbar-width: thin;
    --celeste:#06cdf8;
    --azulOscuro:#044ebf;
    --azulClaro:#059ce3;
    --blanco:#fff;
    --negroClaro:#3c3c3c;
    --negroOscuro:#2a2a2a;

}
body{
    width: 100%;
    min-height: 100dvh;
}
.header-top{
    background: linear-gradient(180deg, var(--blanco) 50%,var(--azulClaro) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(0.5em + 1vw);
    padding: calc(1.5rem - 1vw) 0 calc(1.5rem - 1vw) 0;
    position: sticky;
    top: 0;
    gap: 1rem;



    input{
        flex: 3;
        border-radius: 20px;
        border: 1px solid #cfcfcf;
        padding: 0.7%;
    }
    div{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
            flex: 1;
            aspect-ratio: 1/1;
            
        }
        span{
            flex: 6 ;
        }
    }
  
    .img-logo-horizontal{
        width: 90% ;
        aspect-ratio: 15000/4343;
        flex: none;
        

    }
    
}
.menu{
    cursor: pointer;
}
.click-menu{
    font-weight: 100;
    font-size: clamp(0.9rem, 1.8vw, 1.5rem);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    opacity: 0;
    position: fixed;
    width: 0%;
    height: 100%;
    a{  
        opacity: 0;
        transition: 0.1s;
        text-decoration: none;
        color: #000000;
    }
}
.verse{
    /* background: linear-gradient(90deg, var(--blanco) 83%, var(--azulClaro) 100%); */
    background: white;
    border-right: 1px solid var(--azulClaro);
    padding: calc(0.8rem + 1vw);

    width: max-content;
    transition: 0.2s;
    opacity: 1;

    a{
        padding: 5px;
        transition: 0.2s;
        opacity: 1;
    }
    
}

/* DE LOS LINKS */
.container-links{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-end;
    justify-items: center;

}


.button,.otro{
    display: none;
}
.button,.mas{
        background-color:  var(--azulClaro);
        border-radius: 50%;
        width: 35px;
        aspect-ratio: 1/1;
        place-content: center;
        cursor: pointer;
        img{
            width: 22px;
        }
}
.div-wasap{
    display: grid;
    place-content: center;
    width: 55px;
    aspect-ratio: 1/1;
    background: #25d366;
    border-radius: 50%;
    grid-column: 2/3;
    
    img{
         width: 25px;
    } 
}
.items{
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    align-items: center;


}
.otro{
    place-content: center;
    width: 55px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    img{
        width: 25px;
    } 
}
.fb{
    background: #4267B2;
}
.instagram{
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
      );
}
.tiktok{
    background: #000000;
}
.youtube{
    background: #FF0000;
}


.mostrarse{
    display: grid;
}

.girar{
    animation: girar 100ms ease-in-out  forwards!important;
    
}
/* ANIMATION DEL MAS */
@keyframes girar {
   
    100%{
        transform: rotate(45deg);
    }
}
.mas{
    display: grid;
    animation: mas 100ms ease-in-out backwards ;
   
   
}
/* ANIMATION DEL MAS */
@keyframes mas {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* FOOTER */

footer{
    background: linear-gradient(0deg, var(--blanco) 50%,var(--azulClaro) 100%);
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 2%;
    margin-top:calc(0.8rem + 1vw) ;
    font-size: calc(1vw + 0.2em);
   
    .container-footer{
        display: flex;
        flex-direction: row;

        

        &>*{
            flex: 1;
            display: flex;
            flex-direction: column;
          
            &>*{
               
                font-size: inherit;
                text-decoration: none;
                 color: black;
                 padding: 5px;

            }
        }
    }
    p{
        text-align: center;
    }
    
}

/* MEDIA QUERYS AQUI */
@media (max-width:1000px) {
    .header-top{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: 1fr max-content;
        column-gap: 0;
        row-gap: 0.2rem;
        padding: calc(0.1rem + 1vw) 0 calc(0.2rem + 1vw) 0;
        input{
            grid-column: 2/8;
            grid-row: 2/3;
            align-self: flex-start;
        }
        .container-logo{
            grid-column: 2/8;
            grid-row: 1/2;
        }
        .pedidos{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        div{
           
            img{
                width: 45% !important;
                flex: none;
            }
        
            span{
                display: none;
            }
        }
    }
    
    footer{
        font-size: calc(3px + 1vw);
    
    }

}



@media (max-width:780px) {
  
    
    footer{
        font-size: calc(4px + 1vw);
    
    }
   
}
@media (max-width:500px) {
    .header-top{
        div{
            img{
                width: 70% !important;
            }
        }
    }
   
    .container-footer{
        flex-direction: column !important;
    }
    footer{
        font-size: calc(6px + 1vw);
    
    }
}
@media (max-width:270px) {

    
    .container-links{
        bottom: 0.5rem;
        right: 0.5rem;
        
    }
    
}

.container-product{
    padding: 0 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        .img-product{
            width: 50%;
        aspect-ratio: 155/118;
        }
    
}