*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";
    scroll-behavior: smooth;
    scrollbar-width: thin;
    --celeste:#06cdf8;
    --azulOscuro:#044ebf;
    --azulClaro:#059ce3;
    --blanco:#fff;
    --negroOscuro:#2a2a2a;
    --fondo:#f4f4f4;
    --fondoCard:#ebebeb;
    --columnas:6;
    --filas:2;
    --container-three-card:3;
    --container-two-card:2;
    --barra:4px;
}
body{
    width: 100%;
    min-height: 100dvh;
    background: var(--fondo);

}
.header-top{
    background: linear-gradient(180deg, var(--blanco) 50%,var(--azulClaro) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: calc(0.5em + 1vw); */
    font-size: clamp(1rem, 1.8vw, 1.5rem);
    
    padding: 1px 0;
    position: sticky;
    top: 0;
    gap: 1rem;

    .container-logo, .menu{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .img-logo-horizontal{
            width: 90% ;
            aspect-ratio: 15000/4343;            
        }
    }
    
    input{
        flex: 3;
        border-radius: 25px;
        border: 1px solid var(--azulClaro);
        padding: 1px 5px;
    }
    .menu{
        gap: 0.5rem;
        cursor: pointer;
        .containerLineas{
            flex: 1;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            gap: var(--barra);
            justify-content: center;
            position: relative;
            .linea{
                min-width: 20px;
                width: 100%;
                background: var(--negroOscuro);
                height: var(--barra);
                border-radius: 25px;
                transition: 0.2s ease-in-out;
            }
        }
        span{
            flex: 6 ;
            font-weight: 400;
        }
    } 
}
.checkboxMenu:checked ~ .header-top .menu .linea1{
    transform: translateY(200%) rotate(-45deg);
}
.checkboxMenu:checked ~ .header-top .menu .linea2{
    opacity: 0;
}
.checkboxMenu:checked ~ .header-top .menu .linea3{
    transform: translateY(-200%) rotate(45deg);
}

.checkboxMenu:checked ~ .click-menu{
    border-right: 1px solid var(--azulClaro);
    opacity: 1;
    transform:translateX(0);
    display: flex;
    @starting-style {
        opacity: 0;
        transform:translateX(-100%);
    }

}

.click-menu{
    width:max-content;
    background: var(--blanco);
    padding: 5px;
    display: none;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    flex-direction: column;
    transition: 0.1s ease-in-out;
    transition-behavior: allow-discrete;
    transform:translateX(-100%);
    opacity: 0;
    position: fixed;
    height: 100%;
    a{  
        padding: 5px;
        text-decoration: none;
        color: #000000;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
        border-bottom: 1px solid var(--fondoCard);
        img{
            width: 25px;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }
}

.header-menu{
    background: var(--blanco);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: calc(1rem + 0.1vw);
    padding: 0 2%;
    /* font-size: calc(0.2em + 1vw); */
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    justify-content: space-between;
    border-top: 1px solid var(--azulClaro);
    border-bottom: 1px solid var(--azulClaro);
    color: var(--azulClaro);
    h4{
        font-weight: 500;
    }
    a{
        text-decoration: none;
        color: black;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        img{
            width: 25px;
            object-fit: contain;
            aspect-ratio: 1/1;
        }
    } 
}



/* DE LOS LINKS */
.container-links{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-end;
    justify-items: center;
    .button{
        display: none;
        transition: all 0.3s ease-in-out;
        transition-behavior: allow-discrete;
        scale: 0;
        opacity: 0;
    }
    .mostrarse{
        display: grid;
        opacity: 1;
        scale: 1;
        
        @starting-style {
            opacity: 0;
            scale:0;
        }
    }
    .button,.mas{
            background-color:  var(--azulClaro);
            border-radius: 50%;
            width: 35px;
            aspect-ratio: 1/1;
            place-content: center;
            cursor: pointer;
            img{
                width: 22px;
            }
    }
    
    .div-wasap{
        display: grid;
        place-content: center;
        width: 55px;
        aspect-ratio: 1/1;
        background: #25d366;
        border-radius: 50%;
        grid-column: 2/3;
        
        img{
             width: 25px;
        } 
    }
    .Redes{
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;
        align-items: center;
        .mas{
            display: grid;
            transition: 0.3s ease-in-out; 
        }
        .red{
            width: 55px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            display: none;
            opacity: 0;
            scale: 0;
            transition: all 0.3s ease-in-out;
            transition-behavior: allow-discrete;
           
            img{
                width: 22px;
                place-self: center;
            } 
        }
        .fb{
            background: #4267B2;
        }
        .instagram{
            background: linear-gradient(
                to right,
                #833ab4,#fd1d1d,#fcb045
              );
        }
        .tiktok{
            background: #000000;
        }
        .youtube{
            background: #FF0000;
        }    
    }
    .checkboxRedes:checked ~.Redes>.red{
        opacity: 1;
        scale: 1;
        display: grid;
        
        @starting-style {
            opacity: 0;
            scale:0;
        }     
    }
    .checkboxRedes:checked ~.Redes>.mas{
        transform: rotate(45deg);  
    }
}


footer{
    background: linear-gradient(0deg, var(--blanco) 50%,var(--azulClaro) 100%);
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    text-wrap: wrap;

   
   font-size: clamp(1rem, 1.5vw, 1.5rem);
    .container-footer{
        display: flex;
        flex-direction: row;

        &>*{
            flex: 1;
            display: flex;
            flex-direction: column;
          
            &>*{
               
                text-decoration: none;
                 color: black;
                 padding: 5px;
                 overflow-wrap: break-word;
                 

            }
        }
    }
    >p{
        text-align: center;
        padding-bottom: 5px;
    }
    
}

/* MEDIA QUERYS AQUI */
@media (max-width:1365px) {
    .container-sections{
        padding: calc(1rem + 0.1vw) 0;
    }
    .section-product{
        border-radius: 0;
    }
    *{
        --columnas:5;

    }
}

@media (max-width: 1200px) {
    *{
        --columnas:4;
        --container-three-card:2;

    }
    
   
}

@media (max-width: 1024px) {
    
    .header-top{
        --tamaño:40%;
        --tamaño2:45%;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: 1fr max-content;
        gap: 0.2rem;
        padding: calc(0.1rem + 1vw) 0 calc(0.1rem + 1vw) 0;
        input{
            grid-column: 2/8;
            grid-row: 2/3;
            align-self: flex-start;
        }
        .container-logo{
            grid-column: 2/8;
            grid-row: 1/2;
            .img-logo-horizontal{
                width: var(--tamaño);
            }
        }
        
        .menu{
            .containerLineas{
                width: var(--tamaño2);
                flex: none;
            }
        
            span{
                display: none;
            }
        }
       
    }
    .header-menu{
        display: none;
    }
 
}

@media (max-width: 900px) {
    *{
        --columnas:3;
    }
   
  
}

@media (max-width: 768px) {
   *{
        --container-two-card:1;
        --container-three-card:1;

   }
}
@media (max-width: 600px) {
    *{
        --columnas:2;
    }
    .header-top{
        --tamaño:65%;
        --tamaño2:75%
    }
    .click-menu{
        width: 100%;
    }
    .container-footer{
        flex-direction: column !important;
    }
}


@media (max-width: 480px) {
   
}

@media (max-width: 320px) {
    *{
        --columnas:1;
        --barra:3px;
    }
    .container-links{
        bottom: 0.5rem;
        right: 0.5rem;
        
    }
}

/* DE AQUI DE EL */
table{
    
    border-spacing: 0;
   width: max-content;
    
    tbody{
        tr{
            th{
                border-bottom:1px solid var(--fondocard);
                text-align: start;
            }
            td{
                border-bottom:1px solid var(--fondocard);
            }
        }
    }
}
.contenedordetabla{
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
}
.container-product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}
.espaciado{
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;

}

.img-product {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.container-img{
    flex: 1;
}
@media(max-width: 600px){
    .container-product{
        flex-direction: column;

    }
}
.product-info {
    flex: 1;
}

.product-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.product-price {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.comprarPorWasap{
    display: flex;
    gap: 10px;
    background-color: #25d366;
    width: max-content;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    margin: 1rem auto 0;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    img{
        width: 25px;

    }
}


